body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto 150px auto;
    padding: 0 20px;
}

/* NAVBAR */

.main-nav {
    position: fixed;
    display: flex;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;

    justify-content: left;
    align-items: center;  
    height: 30px;
    margin-bottom: 20px;
    z-index: 1000;
}

.main-nav::before {
    content: "";
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;

    height: 30px;
    background: black;
    z-index: -1;
}

.menu-item {
    position: relative;
    color: white;
    z-index : 1;
    text-decoration: none;
    margin: 0 15px;
}

/* SONGS SECTION */

h1, .menu-item {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p, .lyrics {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 25px;
    font-size: 18px; 
    color: #333;
    text-align: justify;
}

.video-container iframe {
    width: 120%;
    aspect-ratio: 16 / 9;
    display: block;
    border-width: 0px;
}


.video-container {
    float: right;
}

h1 {
    padding-top: 60px;
    margin-bottom: 40px;
}

/* IMAGES */

.about-image {
    margin-top: 30px;  
    margin-bottom: 40px; 
    
}

.about-image img {
    width: 100%;   
    height: 100%;      
    display: block;
    margin: 0 auto;
}

/* TABLE */

table {
    width: 75%;
    border-collapse: collapse;
    margin-bottom: 40px;
    font-family: 'Barlow', sans-serif;
}

th, td {
    border: 1px solid #000000;
    padding-inline: 2px;
    padding-block: 4px;
}

td {
    text-align: left;
}

th {
    background-color: black;
    text-align: center;
    color: white;
    border-color: white;
}

td a {
    color: black;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

td:nth-child(2), td:nth-child(3) {
    text-align: center;
}

select {
    padding: 2px;
    border-width: 1px;
    border-radius: 5px;
    margin: 5px 1px;
    background-color: black;
    color: white;
    font-family: 'Barlow', sans-serif;
}

